.footer__column-link {
  margin: 0;
  padding: 0;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  opacity: 1;
  transition: opacity 1s linear 0s;
}

.footer__column-link:hover {
  opacity: 0.5;
}
