.cards__item {
  max-width: 240px;
  text-align: center;
  font-size: 0;
}

/*Тут явно как-то интереснее нужно сделать, но пока я знаю только так*/
.cards__item:nth-of-type(2), .cards__item:nth-of-type(5){
  margin: 0 100px;
}
